<%= link_to   chat_room_path(chat_room) do %>
	<div class="row sideBar-body">
		<div class="col-sm-8 col-xs-8 sideBar-name">
		  <span class="name-meta">Enter <%= chat_room.title%></span>
		</div>
	</div>
<%end%>