<body style="margin: 0 !important; padding: 0 !important;">
  <table border="0" cellpadding="0" cellspacing="0"  width="500px" style="margin: auto;background: #f7f7f79e">
    <tr>
      <td bgcolor="#ffffff" align="center">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 500px;">
          <tr>
            <td align="center" valign="top" style="padding: 15px 0;" style="border-bottom: 1px solid #f7f7f79e;">
              <h3 style="font-size: 25px;color: #333333; padding-top: 30px; font-weight: normal;">ThinkalbeLMS</h3>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td bgcolor="#fafafa;" align="center" style="padding: 50px 15px 70px 15px;border-radius: 3px;border-top: 3px solid #346cb0;    background: #fafafa;">
        <table border="0" cellpadding="0" cellspacing="0" width="500px;" style="max-width: 400px;">
          <tr>
            <td>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="center"></td>
                </tr>
                <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" style="font-size: 16px;padding-bottom: 5px;font-weight: 700;color: #555555;">Hello, <%= @user.full_name %>!</td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 1px 0 50 0; font-size: 15px; line-height: 25px; padding-bottom: 15px;color: #555555;">Welcome to ThinkalbeLMS.</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                 <tr>
                  <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td align="center" style="padding: 4px 0 0 0; font-size: 15px; line-height: 25px; padding-bottom: 3px;color: #555555;"><span style="font-weight: bolder;">Your Email:</span> <%= @user.email %></td>
                      </tr>
                      <tr>
                        <td align="center" style="padding: 4px 0 0 0; font-size: 15px; line-height: 25px; padding-bottom: 0px;color: #555555;"><span style="font-weight: bolder;">Your Password:</span> <%= @pwd %></td>
                      </tr>
                    </table>
                  </td>
                </tr>s
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
</table>