<div class="modal fade" id="page_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Page Activity Details</h4>
      </div>
      <div class="modal-body">
        <p>
          <strong>
            Lesson Name:
          </strong>
          <%= @page_activity.lesson.name %>
        </p>
        <p>
          <strong>
            Name:
          </strong>
          <%= @page_activity.name %>
        </p>
        <p>
          <strong>
            Due Date:
          </strong>
          <%= @page_activity.due_date %>
        </p>
      </div>
    </div>
  </div>
</div>
