<div class="row top-50 ma-le-ri">
  <div class="col-ms-12">
    <div class="col-sm-3 compose com-cus-3">
      <h2><%= link_to "Compose Mail", new_schools_conversation_path, class: 'btn btn-block btn-primary compose-mail'%></h2>
      <nav class="nav-sidebar">
        <%= render 'schools/mailbox/folders' %>
      </nav>
    </div>

    <div class="col-sm-9 com-cus-9">    
      <div class="inbox-right">
        <% if is_conversation %>
            <%= render 'schools/conversations/form' %>
        <% else %>
          <table class="table table-hover table-striped tabl-mail-dtails">
            <tbody>
              <%= render partial: 'schools/conversations/conversation', collection: messages %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>

